.nav-link::after{
    content: '';
    display: block;
    height:2px;
    width: 100%;
    background-color:grey;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    border-radius: 5px;
  }
  .nav-link:hover::after{
    transform: scaleX(1);
  }
  .nav-link:hover{
    font-size:20px;
    color:black;
  }
.card {
  margin:10px;
    width: 400px;
    height: 100px;
    background-color: #d0f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.2s;
}


.card p {
    margin: 0;
}

.card:hover {
    background-color: #AFDBF5;
}
.first {
  display: flex;
  justify-content: space-between;
  margin:10px;
}
.allign {
display: flex;
justify-content: center;
gap: 20px; 
}

button {
padding: 10px 20px;
font-size: 16px;
background-color: #f0f0f0;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.2s;
}
.header{
width:100%;
background: radial-gradient(circle at 7.4% 45.1%, rgb(236, 206, 251) 0%, rgb(205, 237, 246) 45.1%, rgb(227, 251, 252) 78.4%, rgb(230, 247, 235) 90%);;
}
.sec{
display:flex;
justify-content:center;
}